{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/new/base-article.html" %}

{% block article_title %}Article Title{% endblock %}

{% block article_content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio in hic sit quod modi ipsam eos odio itaque ducimus quidem molestiae dolores iure optio, minus maxime ratione! Ea, facere fugit.</p>

    <h2>Second level heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quos rem, accusantium minus expedita quisquam harum et magni explicabo ad? Eos iusto laboriosam sunt laborum ad praesentium porro accusamus culpa!</p>

    <h3>Third level heading</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, distinctio vitae? Earum inventore, perspiciatis amet expedita accusamus velit possimus quia corrupti sint impedit quae ipsa sed iure magni deserunt repellat.</p>

    <aside class="mzp-c-call-out mzp-t-background-secondary">
      <h3>A midstream callout</h3>
      <p>Some pertinent info goes here. Or maybe just a tagline.</p>
      <p><a href="#" class="mzp-c-button mzp-t-product mzp-t-secondary">Call to action</a></p>
    </aside>

    <h2>Second level heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, tenetur odio! Molestias neque tempore, rem autem eveniet nemo perferendis maxime sapiente vitae nobis iusto omnis, libero animi cum eum odio.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut consectetur expedita aperiam nulla incidunt asperiores velit quia quod ex at. Rerum, dolorum quibusdam recusandae consectetur totam cupiditate suscipit asperiores temporibus.</p>

    <figure class="c-article-figure">
      <img src="{{ static('img/firefox/features/new/footer-fpo-high-res.jpg') }}" alt="">
      <figcaption>This is a caption for this image. Spacecat!</figcaption>
    </figure>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, eveniet voluptas possimus eum modi fugit accusantium iure labore repudiandae. Minus nesciunt, quibusdam sit cupiditate dolores id dolorum voluptate exercitationem nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum consequatur ipsum facilis temporibus laudantium id nam eligendi delectus sit consequuntur exercitationem perferendis, voluptatem esse fugiat obcaecati dolores debitis error?</p>
{% endblock article_content %}
