{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/new/base-article.html" %}

{% block article_title %}Bookmark manager{% endblock %}

{% block article_content %}
<p>Bookmarks are links you save in your browser so you can quickly and easily get
  back to your favorite places on the web. Firefox includes a handy bookmark
  manager so you can organize, search, update and synchronize all your saved
  links across all your devices.</p>

<h2>Organize your bookmarks into searchable folders</h2>
<p>Arrange your bookmarks in folders and tag them with more details. You can
  also sort your bookmarks to quickly find the ones you need.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>

<h2>Easily import bookmarks</h2>
<p>You can import your bookmarks from Chrome, Internet Explorer or Edge with
  Firefox’s import wizard. Just click Bookmarks > Manage Bookmarks and then
  select “Import and Backup”.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>

<h2>Bookmarks toolbar</h2>
<p>Get quick access to your favorite bookmarks in the menu at the top of
  Firefox or pin them to your toolbar.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>
{% endblock article_content %}
