{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from 'macros-protocol.html' import card, call_out %}

{% extends "firefox/base/base-protocol.html" %}

{% block page_css %}
  {{ css_bundle('firefox-features-new-index')}}
{% endblock page_css %}

{% block page_title %}{{ ftl('features-index-page-title') }}{% endblock page_title %}
{% block page_desc %}{{ ftl('features-index-page-description') }}{% endblock page_desc %}

{% block body_class %}features-index{% endblock %}

{% block content %}
{{ call_out (
  title=ftl('features-index-firefox-features'),
  desc=ftl('features-index-main-intro'),
  class='c-feature-header mzp-t-content-md'
)}}

<div class="mzp-l-content">
  <div class="mzp-l-card-half">
    {{ card (
      title="Is Firefox a fast browser?",
      ga_title="Is Firefox a fast browser?",
      aspect_ratio="mzp-has-aspect-16-9",
      desc="A short blurb about this awesome feature. Persecuti efficiendi est ad, sed etiam dicant argumentum ex.",
      image=resp_img('img/firefox/features/new/feature.png', optional_attributes={"loading": "lazy", "class": "mzp-c-card-image"}),
      link_url=url('firefox.features.fast')
    )}}

    {{ card (
      title="Is Firefox a private browser?",
      ga_title="Is Firefox a private browser?",
      aspect_ratio="mzp-has-aspect-16-9",
      desc="A short blurb about this awesome feature. Ad iriure antiopam concludaturque vis, ne dicam sanctus eum.",
      image=resp_img('img/firefox/features/new/feature.png', optional_attributes={"loading": "lazy", "class": "mzp-c-card-image"}),
      link_url=url('firefox.features.new.private')
    )}}
  </div>

  <ul class="mzp-l-columns mzp-t-columns-three">
    <li class="c-feature-item">
      <a href="url('firefox.features.password-manager')">
        <h3 class="c-feature-item-title">Free password manager</h3>
        <p>A short blurb about this awesome feature. Persecuti efficiendi est ad, sed etiam dicant argumentum ex.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.sync')">
        <h3 class="c-feature-item-title">Firefox browser sync</h3>
        <p>A short blurb about this awesome feature. Ad iriure antiopam concludaturque vis, ne dicam sanctus eum.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.bookmarks')">
        <h3 class="c-feature-item-title">Bookmark manager</h3>
        <p>Mea ut atqui mnesarchum delicatissimi, oporteat accusata pro cu.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.private-browsing')">
        <h3 class="c-feature-item-title">Private browsing mode</h3>
        <p>Has in mutat dolorem expetendis, mei falli postulant in. Nihil eligendi pro ei.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.new.customize')">
        <h3 class="c-feature-item-title">Customize</h3>
        <p>Vivendo luptatum scribentur sea cu, est dicat graeci ne.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.new.add-ons')">
        <h3 class="c-feature-item-title">Browser extensions and add-ons</h3>
        <p>Duo semper regione tibique in, ad vidit recteque expetendis sed.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.new.pinned-tabs')">
        <h3 class="c-feature-item-title">Pinned browser tabs</h3>
        <p>Ut augue exerci vix, mei malis regione corrumpit at. Duo semper regione tibique in, ad vidit recteque expetendis sed.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.new.eyedropper')">
        <h3 class="c-feature-item-title">Eyedropper tool</h3>
        <p>Ut augue exerci vix, mei malis regione corrumpit at.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
    <li class="c-feature-item">
      <a href="url('firefox.features.new.pdf-editor')">
        <h3 class="c-feature-item-title">PDF Editor</h3>
        <p>mei falli postulant in. Nihil eligendi pro ei.</p>
        <p class="c-feature-item-cta">Read more</p>
      </a>
    </li>
  </ul>

</div>
{% endblock content %}

