{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/new/base-article.html" %}

{% block article_title %}Free password manager{% endblock %}

{% block article_content %}
<p>Firefox securely stores your usernames and passwords for accessing websites,
  automatically fills them in for you the next time you visit a website, and
  lets you manage your stored logins with its built-in password management
  feature.</p>

<h2>Password autofill for easy logins</h2>
<p>Firefox can automatically fill in your saved username and password. If you
  have more than one login for a site, you can just select the account you want
  and we’ll take it from there.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>

<h2>Import passwords</h2>
<p>You can use the import wizard to easily (magically) import usernames and
  passwords stored on Chrome, Edge, or Internet Explorer. Select Passwords
  from the menu, and then click “import them into Firefox” at the bottom of
  the Logins & Passwords page.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>

<h2>No more reusing your passwords</h2>
<p>Have Firefox create a unique password for each login you have across the
  web — that way, if one of your passwords gets hacked through a security breach,
  it'll only impact that one account, not other accounts too.</p>

<figure class="c-article-figure">
  <img src="{{ static('img/firefox/features/new/fpo.jpg') }}" alt="">
  <figcaption>[screenshot]</figcaption>
</figure>

<h2>Password security alerts</h2>
<p>Firefox alerts you if a password has been exposed in a data breach so you
  can change it before hackers have a chance to do something like rent a Lambo
  with your credit card.</p>

{% endblock article_content %}
